@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #222628;

  --primary-bg: #131314;
  --secondary-bg: #454545;

  --primary-text: #fff;
  --secondary-text: #888;

  --cta-blue: #84CAFF;
  --cta-blue-progress-bar: #7cd4fd;
  --cta-light-blue: #36bffa;

  --hex-gray-10: #1B1B1E;
  --hex-gray-8: #222628;

  --bg-white-5: rgba(255, 255, 255, 0.05);
}